html{
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -ms-overflow-style: scrollbar;

  /*Keep in mind buttons will not work unless set to -webkit-app-region: no-drag;*/
  
}
/*prevents title bar text from being selected*/
h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none
}

.dropzone {
    /* background: rgba(108, 91, 123, 1);*/
    background: rgba(53, 92, 125, .92);
    height: 494px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
// .dropzone::before{
//     display: block;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 700px;
//     height: 700px;
//     //margin-left: -250px;
//     margin-top: -370px;
//     content: '';
//     border-color: #fff;
//     border-style: solid;
//     border-width: 0px;
//     border-radius: 100%;
//     transform-origin: center center;
//     transition: all 250ms ease-in-out;
//     box-sizing: border-box;
// }
// .dropzone:hover::before{
//         border-width: 1px;
// }
.item {
    font-size: 2.5em;
    /*color: rgba(248,177,149,1)*/
    color: rgba(246, 114, 128, 1);
}

.mBelow {
    background: rgba(53, 92, 125, 1);
    box-sizing: border-box;
    padding: 1em;
    color: rgba(246, 114, 128, 1);
    -webkit-app-region:drag;
}

h2 {
    margin: 0px !important;
    margin-top:16px !important;
}
.bContainer{
    /*background: #f8b195;*/
    background: rgba(53, 92, 125, 1);
    z-index: 50;
    position: relative;
    //text-align: center;
}
.title-button{
    margin:1em .3em; 
    border-radius:100%;
    width:15px;
    height:15px;
    background: black;
    border:0px;
    -webkit-app-region: no-drag; 
}
.close{
    background:rgba(246, 114, 128, 1);
    margin-left: 1em;
}
.minimize{
    background:#f8b195;
}
.title-bar{
    background: rgba(53, 92, 125, .92);
    -webkit-app-region:drag;
    position: relative;
    z-index: 50;
}
.modal-text{
  color:white;
  code{
      background:rgba(33, 72, 105, 1);
      padding:2px;
  }
  line-height:1em;
  margin:1em;  
}
.d-accept{
background: #B3DB68;
    > .item{
        color:white;
    }
}
.d-reject{
background: #DF8585;
    > .item{
        color:white;
    }
}
// .d-active{
// background: blueviolet;
// color:white;
// }
::-webkit-scrollbar {     
        width: .5em;
}
::-webkit-scrollbar-track{
        background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: rgba(255,255,255,0.09);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.01); 
}


// background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)',